<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <meta name="csrf-token" content="{{ csrf_token }}">

    
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <head>
        <meta charset="utf-8">
        <meta name="description" content="A best stylish, creative, modern responsive template for different eCommerce business or industries." />
        <meta name="keywords" content="food template, bakery products, html, eCommerce html template,plants, organic food, restaurant, live tree, responsive, pizza, burger, furniture, mobile, watches, electronics, computers accessories, toys, jewellery, restaurant accessories" />
        <meta name="author" content="spacingtech_webify">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- title -->
        <title>Little Forest - Bonsai Plants for Every Home</title>
        
        <!-- favicon -->
        <link rel="icon" type="image/x-icon" href="{% static 'img/favicon/favicon.png' %}">

        
        <!-- bootstrap css -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-icons.css' %}">
        
        <!-- magnific-popup css -->
        <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
        
        <!-- fontawesome css -->
        <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
        
        <!-- feather css -->
        <link rel="stylesheet" href="{% static 'css/feather.css' %}">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />
        
        <!-- animate css -->
        <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
        
        <!-- owl-carousel css -->
        <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
        
        <!-- swiper css -->
        <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
        
        <!-- slick slider css -->
        <link rel="stylesheet" href="{% static 'css/slick.css' %}">
        
        <!-- collection css -->
        <link rel="stylesheet" href="{% static 'css/collection.css' %}">
        
        <!-- blog css -->
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        
        <!-- other-pages css -->
        <link rel="stylesheet" href="{% static 'css/other-pages.css' %}">
        
        <!-- product-page css -->
        <link rel="stylesheet" href="{% static 'css/product-page.css' %}">
        
        <!-- style css -->
        <link rel="stylesheet" href="{% static 'css/style6.css' %}">

        <!-- terrarium css -->
        <link rel="stylesheet" href="{% static 'css/terrarium.css' %}">

        
        
                
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <!-- GOOGLE FONT -->
                <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i" rel="stylesheet">
                <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700" rel="stylesheet">
                <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
                
                <!-- CSS LIBRARY -->
                <link rel="stylesheet" href="{% static 'css/css/font-awesome.min.css' %}">
                <link rel="stylesheet" href="{% static 'css/css/ionicons.min.css' %}">
                <link rel="stylesheet" href="{% static 'css/slick-theme.css' %}">
                <link rel="stylesheet" href="{% static 'css/css/slick.css' %}">
                <link rel="stylesheet" href="{% static 'css/css/Pe-icon-7-stroke.min.css' %}">
                <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
                <link rel="stylesheet" href="{% static 'css/css/bootstrap-select.min.css' %}">
                <link rel="stylesheet" href="{% static 'css/css/styles.css' %}">
                <link rel="stylesheet" href="{% static 'css/css/owl.video.play.html' %}">
                <link rel="stylesheet" href="{% static 'css/css/slick-theme.css' %}">
                <link rel="stylesheet" href="{% static 'css/css/style7.css' %}">
                

                <link rel="shortcut icon" href="{% static 'css/images/favicon.png' %}">
                <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet">

            
                


        </head>
    <body>
        
        
      
      </head>
      <body>
      
       
      
        

   <!-- <audio id="audioPlayer" autoplay loop style="display:none;">
    <source src="https://www.soundhelix.com/examples/mp3/SoundHelix-Song-1.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
   </audio> -->

        
        
        
        
        
        <!-- Some content to make the page scrollable -->
       
          

        <!-- header start -->
        <header id="mainHeader"  class="main-header">
            <div class="header-top-area">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <ul class="header-area">
                                <li class="header-element header-call-wrap">
                                    <div class="header-theme-logo">
                                        <a href="{% url 'home' %}" class="theme-logo">
                                            <img src="{% static 'img/logo/white.png' %}" class="img-fluid" alt="logo">
                                        </a>
                                    </div>
                                </li>
                                <li class="header-element header-logo">
                            <div id="sidebarMenu" class="sidebar" style="margin-top: 0pc;">
                                <button class="close-btn" onclick="document.getElementById('sidebarMenu').classList.remove('active')">✖</button>
                            
                                <ul class="sidebar-menu">
                                    <li><a href="{% url 'home' %}">Home</a></li>
                                    <li><a href="{% url 'about' %}">About Us</a></li>
                                    <li><a href="{% url 'blog' %}">Blogs</a></li>
                                    <li><a href="{% url 'collection' %}">Store</a></li>
                                    <li><a href="{% url 'contact' %}">Contact</a></li>
                                </ul>
                            </div>
                                    <!-- header-bottam start -->
                                    <div class="header-bottom-area" id="stickyheader">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="header-bottam-block">
                                                        <div class="bottom-block header-menu">
                                                            <!-- header-menu start -->
                                                            <div class="mainmenu-content collapse show" id="main-collapse">
                                                                <div class="main-wrap">
                                                                    <ul class="main-menu">
                                                                        <li class="menu-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
                                                                            <a href="{% url 'home' %}" class="link-title">
                                                                                <span class="sp-link-title">Home</span>
                                                                            </a>
                                                                        </li>
                                                                        <li class="menu-link {% if request.resolver_match.url_name == 'about' %}active{% endif %}">
                                                                            <a href="{% url 'about' %}" class="link-title">
                                                                                <span class="sp-link-title">About Us</span>
                                                                            </a>
                                                                        </li>
                                                                        <li class="menu-link {% if request.resolver_match.url_name == 'collection' %}active{% endif %}">
                                                                            <a href="{% url 'collection' %}" class="link-title">
                                                                                <span class="sp-link-title">Bonsai</span>
                                                                            </a>
                                                                        </li>
                                                                        <li class="menu-link {% if request.resolver_match.url_name == 'terrarium_page' %}active{% endif %}">
                                                                            <a href="{% url 'terrarium_page' %}" class="link-title">
                                                                                <span class="sp-link-title">Terrarium</span>
                                                                            </a>
                                                                        </li>
                                                                        <li class="menu-link {% if request.resolver_match.url_name == 'blog' %}active{% endif %}">
                                                                            <a href="{% url 'blog' %}" class="link-title">
                                                                                <span class="sp-link-title">Blogs</span>
                                                                            </a>
                                                                        </li>
                                                                        <li class="menu-link {% if request.resolver_match.url_name == 'contact' %}active{% endif %}">
                                                                            <a href="{% url 'contact' %}" class="link-title">
                                                                                <span class="sp-link-title">Contact</span>
                                                                            </a>
                                                                        </li>
                                                                        
                                                                    
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <!-- header-menu end -->
                                                        </li>
                                                        <li class="header-element header-icon">
                                                            <div class="header-icon-block">
                                                                <ul class="shop-element">
                                                                    <li class="side-wrap user-wrap">
                                                                        <div class="user-wrapper">
                                                                        <div class="shopping-cart">
                                                                            <a class="add-to-cart" href="{% url 'wishlistproduct' %}">
                                                                               <div class="icon-box">
                                                                                    <i class="ri-heart-line"></i>
                                                                                </div>
                                                                            </a>
                                                                        </div>
                                                                        <div class="shopping-cart">
                                                                        <a class="add-to-cart" href="{% url 'cart' %}">
                                                                            <span class="icon">
                                                                            <i class="ri-shopping-bag-line"></i>
                                                                            </span>
                                                                        </a>
                                                                    </div>
                                                                            {% if user.is_authenticated %}
                                                                                <a href="{% url 'profile' %}" class="menusup-title d-flex align-items-center">
                                                                                    <i class="ri-user-3-line"></i>
                                                                                </a>
                                                                            {% else %}
                                                                                <a href="#store-account" class="collapsed d-flex align-items-center    " data-bs-toggle="collapse" aria-expanded="false">
                                                                                    
                                                                                    <span class="user-title">Login</span>
                                                                                </a>
                                                                                <div class="user-drower collapse" id="store-account">
                                                                                    <a href="{% url 'loginaccount' %}">Login</a>
                                                                                    <a href="{% url 'createaccount' %}">Register</a>
                                                                                </div>
                                                                            {% endif %}
                                                                        </div>
                                                            </div>
                                                        
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
            
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- header end -->
<script>
    const header = document.getElementById("mainHeader");

    window.addEventListener("scroll", function () {
        if (window.scrollY > 200) {
            header.classList.add("scrolled");
        } else {
            header.classList.remove("scrolled");
        }
    });
</script>
<style>

</style>
     
        <main>
<!-- Hidden audio element -->



{% comment %} <audio id="myAudio" src="{% static 'img/video/audio.mp3' %}" loop></audio>

<!-- Fixed volume icon -->
<div class="fixed-icon" id="toggleIcon" title="Play/Pause Music">
  <img src="{% static 'img/bonsaiimgs/Speaker-On.svg' %}" alt="Volume Icon" class="muit__icon" />
</div>

<script>
document.addEventListener("DOMContentLoaded", () => {
    const audio = document.getElementById("myAudio");
    const iconBox = document.getElementById("toggleIcon");
    const volumeImg = iconBox.querySelector("img");

    audio.volume = 0.5; // default volume

    // Delay autoplay by 5 seconds
    setTimeout(() => {
        audio.play().catch(err => {
            console.log("Autoplay blocked by browser. Will start on user interaction.", err);
        });
    }, 1000); // 5000ms = 5 seconds

    // Toggle play/pause on icon click
    iconBox.addEventListener("click", () => {
        if (audio.paused) {
            audio.play().then(() => {
                volumeImg.src = "{% static 'img/bonsaiimgs/Speaker-On.svg' %}";
            }).catch(err => console.log(err));
        } else {
            audio.pause();
            volumeImg.src = "{% static 'img/bonsaiimgs/Speaker-Mute.svg' %}";
        }
    });

    // Save playback state
    window.addEventListener("beforeunload", () => {
        localStorage.setItem("musicTime", audio.currentTime);
        localStorage.setItem("musicPaused", audio.paused);
    });

    // Restore playback position and paused state
    const savedTime = localStorage.getItem("musicTime");
    const wasPaused = localStorage.getItem("musicPaused") === "true";

    if (savedTime) audio.currentTime = parseFloat(savedTime);
    if (wasPaused) audio.pause();
});
</script> {% endcomment %}



        <a href="#" class="scroll-to-top " title="Go to top">
            <i class="fas fa-arrow-up scroll__button"></i>
        </a>
          {% block content %}{% endblock %}
      </main>
      
        <!-- main end -->
        <!-- footer start -->
        <footer>
            <div class="container">
              <div class="row footer-content">
                <!-- Brand & Description (takes more width) -->
                <div class="col-lg-4 col-md-6 footer-section brand">
                   <li class="ft-copryright-li ft-logo-image">
                                    <a href="{% url 'home' %}" class="theme-logo">
                                        <img src="{% static 'img/logo/white.png' %}" class="img-fluid" alt="footer-logo" style="width:30%;">
                                    </a>
                                </li>
                            <p>Litle Forest is an online marketplace for bonsai enthusiasts. Explore, collect, or sell – all in one green corner of the internet.</p>
                    </div>
          
                <!-- Categories -->
                <div class="col-lg-2 col-md-6 footer-section">
                    <h4>Categories</h4>
                    <ul>
                        {% for category in categories|slice:":6" %}
                            <li>
                                <i class="fas fa-chevron-right"></i>
                                <a href="{% url 'collection' %}" data-filter=".{{ category.name|slugify }}">
                                    {{ category.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            
                <!-- Useful Links -->
                <div class="col-lg-3 col-md-6 footer-section">
                    <h4>Useful Links</h4>
                    <ul>
                     
                     
                      <li><i class="fas fa-chevron-right"></i> <a href="{% url 'faq' %}">FAQs</a></li>
                       <li><i class="fas fa-chevron-right"></i> <a href="{% url 'returnpolicy' %}">Refund Policy</a></li>
                      <li><i class="fas fa-chevron-right"></i> <a href="{% url 'privacypolicy' %}">Privacy Policy</a></li>
                      <li><i class="fas fa-chevron-right"></i> <a href="{% url 'termscondition' %}">Terms of Service</a></li>

                    </ul>
                  </div>
                  
          
                <!-- Social Media -->
              <div class="col-lg-3 col-md-6 footer-section">
            <h4>Follow Us</h4>
            <div class="social-icons" style="display: flex; gap: 15px;">

                <!-- Instagram First -->
                <a href="https://www.instagram.com/litle.forest?igsh=MzAyODRyNjF0ZDMx" target="_blank" aria-label="Instagram">
                <i class="fab fa-instagram"></i>
                </a>

                <!-- Facebook -->
                <a href="https://www.facebook.com/profile.php?id=61575362567617" target="_blank" aria-label="Facebook">
                <i class="fab fa-facebook-f"></i>
                </a>

                <!-- LinkedIn -->
                <a href="/" aria-label="LinkedIn">
                <i class="fab fa-linkedin-in"></i>
                </a>

            

            </div>
            </div>

              </div>
          
              <!-- Footer Bottom -->
              <div class="row footer-bottom">
                <div class="col-12 text-center">
                   <p>
                    <span>Copyright</span>
                    <span class="copy-icon"><i class="fa fa-copyright"></i></span>
                    <span>2026 <span class="litele ">Litle Forest</span>. Powered by <a href="https://thinkb.agency/" target="_blank" class="litele">thinkB</a>.</span>
                    </p>
                </div>
              </div>
            </div>
    </footer>
  
          
      
        <!-- footer end -->
        <!-- footer-copyright start -->
      
        <!-- footer-copyright end -->
        <!-- mobile-menu start -->
        <div class="mobile-menu" id="mobile-menu">
            <div class="mobile-contents">
                <div class="menu-close">
                    <button class="menu-close-btn">
                    <span class="menu-close-icon"><svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></span>
                    </button>
                </div>
                <div class="header-call-wrap">
                    <div class="header-call">
                        <div class="calltext">
                            <p>Call : <a href="#"> +91 99669 92122</a></p>
                        </div>
                    </div>
                </div>
                <div class="mobilemenu-content">
                    <div class="main-wrap">
                        <ul class="main-menu">
                            <li class="menu-link">
                                <a href="#menu-single" class="link-title" data-bs-toggle="collapse" aria-expanded="false">
                                    <span class="sp-link-title">Home</span>
                                    <span class="menu-arrow"><i class="fa-solid fa-angle-down"></i></span>
                                </a>
                                
                            </li>
                            <li class="menu-link">
                                <a href="#menu-mega" class="link-title" data-bs-toggle="collapse" aria-expanded="false">
                                    <span class="sp-link-title">Product</span>
                                    <span class="menu-arrow"><i class="fa-solid fa-angle-down"></i></span>
                                </a>
                            
                            </li>
                            <li class="menu-link">
                                <a href="#menu-shop-banner" class="link-title" data-bs-toggle="collapse" aria-expanded="false">
                                    <span class="sp-link-title">Collection</span>
                                    
                                </a>
                               
                            </li>
                            <li class="menu-link">
                                <a href="#menu-blog" class="link-title" data-bs-toggle="collapse" aria-expanded="false">
                                    <span class="sp-link-title">Blog</span>
                                    
                                </a>
                              
                            </li>
                       
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- mobile-menu end -->
        <!-- search-modal start -->
        <div class="modal fade" id="searchmodal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="crap-search">
                                        <!-- search-button-close start -->
                                        <div class="button-close">
                                            <button type="button" class="search-close" data-bs-dismiss="modal"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/><path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/></svg></button>
                                        </div>
                                        <!-- search-button-close end -->
                                        <!-- search-form start -->
                                        <form method="get" class="search-bar">
                                            <div class="form-search">
                                                <input name="q" placeholder="Search product here.." class="input-text" required>
                                                <button type="button" onclick="location.href='search.html'" class="search-btn"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-search" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/></svg></button>
                                            </div>
                                        </form>
                                        <!-- search-form end -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- search-modal end -->
      
       
        <!-- quickview modal end -->

        <!-- bg-scren start -->
        <div class="bg-screen"></div>
        <!-- bg-scren end -->
        <!-- bottom-menu start -->
        <div class="bottom-menu">
            <ul class="bottom-menu-element">
                <li class="bottom-menu-wrap">
                    <div class="bottom-menu-wrapper">
                        <a href="{% url 'home' %}" class="bottom-menu-home">
                            <span class="bottom-menu-icon"><svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg></span>
                            <span class="bottom-menu-title"></span>
                        </a>
                    </div>
                </li>
                <li class="bottom-menu-wrap">
                    <div class="bottom-menu-wrapper">
                        {% if user.is_authenticated %}
                            <a href="{% url 'profile' %}" class="bottom-menu-user">
                                <span class="bottom-menu-icon">
                                    <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                        <circle cx="12" cy="7" r="4"></circle>
                                    </svg>
                                </span>
                                <span class="bottom-menu-title"></span>
                            </a>
                        {% else %}
                            <a href="{% url 'loginaccount' %}" class="bottom-menu-user">
                                <span class="bottom-menu-icon">
                                    <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                        <circle cx="12" cy="7" r="4"></circle>
                                    </svg>
                                </span>
                                <span class="bottom-menu-title"></span>
                            </a>
                        {% endif %}
                    </div>
                </li>
                
                
                <li class="bottom-menu-wrap">
                    <div class="bottom-menu-wrapper dropdown-parent">

                        <a href="{% url 'collection' %}" class="bottom-menu-collection">
                            <span class="bottom-menu-icon">
                                <svg viewBox="0 0 24 24" width="24" height="24"
                                    stroke="currentColor" stroke-width="2" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <rect x="3" y="3" width="7" height="7"></rect>
                                    <rect x="14" y="3" width="7" height="7"></rect>
                                    <rect x="14" y="14" width="7" height="7"></rect>
                                    <rect x="3" y="14" width="7" height="7"></rect>
                                </svg>
                            </span>

                        </a>

                        <!-- Dropdown -->
                        <div class="store-dropdown">
                            <a href="{% url 'collection' %}">Bonsai</a>
                            <a href="{% url 'terrarium_page' %}">Terrarium</a>
                        </div>

                    </div>
                </li>
                <li class="bottom-menu-wrap">
                    <div class="bottom-menu-wrapper">
                        <a href="{% url 'wishlistproduct' %}" class="bottom-menu-wishlist">
                            <span class="bottom-menu-icon-wrap">
                                <span class="bottom-menu-icon"><svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg></span>
                                <span class="bottom-menu-counter wishlist-counter">5</span>
                            </span>
                            <span class="bottom-menu-title"></span>
                        </a>
                    </div>
                </li>
                <li class="bottom-menu-wrap">
                    <div class="bottom-menu-wrapper">
                        <a href="{% url 'cart' %}" class="bottom-menu-cart">
                            <span class="bottom-menu-icon-wrap">
                                <span class="bottom-menu-icon"><svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg></span>
                                <span class="bottom-menu-counter cart-counter">4</span>
                            </span>
                            <span class="bottom-menu-title"></span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>

                    
        <!-- Toast Notifications Container -->
        <ul class="notifications"></ul>
        <!-- bottom-menu end -->
       <!-- Load jQuery -->
    <style>
        /* Parent */
.dropdown-parent{
    position: relative;
}

/* Dropdown box */
.store-dropdown{
    position: absolute;
    bottom: 30px; /* appears above icon */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    background: #fff;
    border-radius: 12px;
    min-width: 160px;
    
    box-shadow: 0 5px 20px rgba(0,0,0,0.12);
    
    opacity: 0;
    visibility: hidden;

    transition: all 0.3s ease;
    overflow: hidden;
    z-index: 999;
}

/* Dropdown links */
.store-dropdown a{

    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: #222;
    font-size: 15px;
    font-weight: 500;
    transition: 0.3s;
    background: #fff;
}

.store-dropdown a:hover{
    background: #f5f5f5;
    color: #000;
}

/* Hover for PC */
.dropdown-parent:hover .store-dropdown{
    opacity: 1;
    visibility: visible;

    bottom: 30px;
}

/* Mobile Click Support */
.dropdown-parent.active .store-dropdown{
    opacity: 1;
    visibility: visible;
}
    </style>
<script>
document.addEventListener("DOMContentLoaded", function () {

    const dropdownParent = document.querySelector(".dropdown-parent");
    const dropdownLinks = document.querySelectorAll(".store-dropdown a");

    // Mobile click for opening dropdown
    dropdownParent.addEventListener("click", function (e) {

        if (window.innerWidth <= 768) {

            // Prevent only when clicking parent
            if (!e.target.closest(".store-dropdown a")) {
                e.preventDefault();
                dropdownParent.classList.toggle("active");
            }

        }

    });

    // Allow links to work normally
    dropdownLinks.forEach(link => {
        link.addEventListener("click", function () {
            window.location.href = this.href;
        });
    });

});
</script>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/ja.js' %}"></script>

<!-- Bootstrap JS -->
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<!-- Magnific Popup -->
<script src="{% static 'js/jquerys.js' %}"></script>

<!-- Owl Carousel -->
<script src="{% static 'js/owl.js' %}"></script>

<!-- Swiper -->
<script src="{% static 'js/swiper.js' %}"></script>

<!-- Slick Carousel -->
<script src="{% static 'js/slick.js' %}"></script>

<!-- Waypoints -->
<script src="{% static 'js/way.js' %}"></script>
<script src="{% static 'js/bootstrap-select.js' %}"></script>
<script src="{% static 'js/littlelightbox.js' %}"></script>

<!-- Counter -->
<script src="{% static 'js/counter.js' %}"></script>
<script type="text/javascript" src="js/jquery123.js"></script>
<script type="text/javascript" src="js/owlcarousel.js"></script>




        

        <!-- Include your toast notification JS -->
       <script>
    const notifications = document.querySelector(".notifications");

    // Toast message details for different types
    const toastDetails = {
        timer: 5000,
        success: {
            icon: "fa-circle-check",
            text: "Success: This is a success toast."
        },
        error: {
            icon: "fa-circle-xmark",
            text: "Error: This is an error toast."
        },
        warning: {
            icon: "fa-circle-exclamation",
            text: "Warning: This is a warning toast."
        },
        info: {
            icon: "fa-circle-info",
            text: "Info: This is an information toast."
        }
    };

    // Function to remove a toast
    const removeToast = (toast) => {
        toast.classList.add("hide");
        if (toast.timeoutId) clearTimeout(toast.timeoutId);
        setTimeout(() => toast.remove(), 500);
    };

    // Function to create a toast notification
    const createToast = (type, message) => {
        const { icon } = toastDetails[type] || toastDetails.info;
        const toast = document.createElement("li");
        toast.className = `toast ${type}`;
        toast.innerHTML = `<div class="column">
                                <i class="fa-solid ${icon}"></i>
                                <span>${message}</span>
                            </div>
                            <i class="fa-solid fa-xmark" onclick="removeToast(this.parentElement)"></i>`;
        notifications.appendChild(toast);
        toast.timeoutId = setTimeout(() => removeToast(toast), 5000);
    };

    {% if messages %}
        {% for message in messages %}
            var messageType = "{{ message.tags|escapejs }}";
            var messageText = "{{ message|escapejs }}";
            console.log("Toast Triggered:", messageType, messageText);
            createToast(messageType, messageText);
        {% endfor %}
    {% endif %}
</script>
<script>
// 1️⃣ Prevent empty links
document.addEventListener("click", function (e) {
    let link = e.target.closest("a");
    if (link) {
        let href = link.getAttribute("href");

        // Block empty links
        if (!href || href.trim() === "") {
            e.preventDefault();
            return false;
        }

        // Remove target=_blank automatically
        if (link.getAttribute("target") === "_blank") {
            link.removeAttribute("target");
        }
    }
});

// 2️⃣ Block window.open completely
window.open = function () {
    console.warn("Blocked unwanted popup");
    return null;
};

// 3️⃣ Stop accidental form resubmission redirect
if (window.history.replaceState) {
    window.history.replaceState(null, null, window.location.href);
}
</script>

{% if messages %}
<script>
{% for message in messages %}
Swal.fire({
    icon: "{{ message.tags }}",
    title: "{{ message }}",
    confirmButtonColor: '#0b4423',
    backdrop: 'rgba(11,68,35,0.4)'
});
{% endfor %}
</script>
{% endif %}


{% if messages %}
<script>
{% for message in messages|slice:":1" %}
Swal.fire({
    icon: "{{ message.tags }}",
    title: "{{ message }}",
    confirmButtonColor: '#0b4423',
    background: '#f0fff4',
    color: '#0b4423'
});
{% endfor %}
</script>
{% endif %}



        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
        <!-- main js -->
        <script src="js/main.js"></script>
        <script type="text/javascript" src="{% static 'js/js/jquery-1.12.4.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/js/owl.carousel.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/js/vit-gallery.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/js/jquery.countTo.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/js/jquery.appear.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/js/isotope.pkgd.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/js/slick.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/js/bootstrap-select.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/js/jquery.littlelightbox.js' %}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDyCxHyc8z9gMA5IlipXpt0c33Ajzqix4"></script>
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/owl.carousel.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
// Owl Carousel (unchanged)
$('#index12').owlCarousel({
    loop: true,
    nav: true,
    center: true,
    margin: 30,
    responsive: {
        0: { items: 1 },
        600: { items: 1 },
        1000: { items: 3 }
    }
});
</script>

<script>
// Sidebar toggle
document.addEventListener('DOMContentLoaded', function () {
    const togglerBtn = document.querySelector('.toggler-btn');
    const sidebar = document.getElementById('sidebarMenu');
    
    if (togglerBtn && sidebar) {
        togglerBtn.addEventListener('click', function () {
            sidebar.classList.toggle('active');
        });
    }
});
</script>

<script>
// Audio play/pause toggle
function toggleAudio() {
    const audioPlayer = document.getElementById('audioPlayer');
    const playPauseBtn = document.getElementById('playPauseBtn');
    
    if (!audioPlayer || !playPauseBtn) return;
    
    if (audioPlayer.paused) {
        audioPlayer.play();
        playPauseBtn.innerHTML = '&#10074;&#10074;'; // Pause
    } else {
        audioPlayer.pause();
        playPauseBtn.innerHTML = '&#9658;'; // Play
    }
}
</script>

<script>
// Combined: add-to-cart + wishlist + login check + error message + welcome alert
document.addEventListener("DOMContentLoaded", function() {

    // Error message popup (if exists)
    {% if error_message %}
    Swal.fire({
        title: 'Login Failed',
        text: '{{ error_message }}',
        icon: 'error',
        background: '#ffffff',
        color: '#0b4423',
        confirmButtonColor: '#0b4423',
        confirmButtonText: 'Try Again',
        backdrop: 'rgba(11,68,35,0.4)'
    });
    {% endif %}

    // Welcome / login prompt (if enabled)
    {% if show_login_alert %}
    Swal.fire({
        title: 'Welcome to Little Forest 🌿',
        html: '<p style="font-size:15px;">Please login to continue shopping and explore our beautiful collection.</p>',
        icon: 'info',
        background: '#ffffff',
        color: '#0b4423',
        confirmButtonText: 'Login Now',
        showCancelButton: true,
        cancelButtonText: 'Maybe Later',
        confirmButtonColor: '#0b4423',
        cancelButtonColor: '#85c441',
        backdrop: 'rgba(11,68,35,0.4)',
        customClass: {
            popup: 'brand-swal-popup',
            title: 'brand-swal-title'
        }
    }).then((result) => {
        if (result.isConfirmed) {
            window.location.href = "{% url 'loginaccount' %}";
        }
    });
    {% endif %}

    // Login required popup function
    function showLoginAlert() {
        Swal.fire({
            title: 'Login Required 🌿',
            html: '<p style="font-size:14px;">Please login to continue shopping with Little Forest.</p>',
            icon: 'info',
            background: '#ffffff',
            color: '#0b4423',
            confirmButtonText: 'Login Now',
            showCancelButton: true,
            cancelButtonText: 'Cancel',
            confirmButtonColor: '#0b4423',
            cancelButtonColor: '#85c441',
            backdrop: 'rgba(11,68,35,0.4)'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "{% url 'loginaccount' %}";
            }
        });
    }

    // Add to Cart & Wishlist - unified handler
    document.querySelectorAll(".add-to-cart-btn, .wishlist-btn").forEach(button => {
        button.addEventListener("click", function(e) {
            e.preventDefault();

            const isAuthenticated = this.getAttribute("data-auth") === "true";
            const url = this.getAttribute("data-url");

            if (!isAuthenticated) {
                showLoginAlert();
                return;
            }

            // Prevent double click
            if (this.classList.contains("processing")) return;
            this.classList.add("processing");
            this.style.pointerEvents = "none";

            fetch(url)
                .then(response => response.json())
                .then(data => {
                    let title, icon;

                    if (data.status === "added") {
                        icon = 'success';
                        title = button.classList.contains("add-to-cart-btn") 
                            ? 'Product added to cart!' 
                            : 'Product added to Wishlist!';
                    } else if (data.status === "exists") {
                        icon = 'info';
                        title = button.classList.contains("add-to-cart-btn") 
                            ? 'Product already added!' 
                            : 'Product already in Wishlist!';
                    } else {
                        return; // unknown status
                    }

                    Swal.fire({
                        icon: icon,
                        title: title,
                        showConfirmButton: false,
                        timer: 1500,
                        confirmButtonColor: '#0b4423'
                    });
                })
                .finally(() => {
                    setTimeout(() => {
                        this.classList.remove("processing");
                        this.style.pointerEvents = "auto";
                    }, 1500);
                });
        });
    });
});
</script>

<style>
.brand-swal-popup {
    border-radius: 15px !important;
    padding: 25px !important;
}
.brand-swal-title {
    font-size: 22px !important;
    font-weight: 600 !important;
}
</style>

     
{% if messages %}
<script>
{% for message in messages %}
Swal.fire({
    icon: "{{ message.tags }}",
    text: "{{ message }}",
    confirmButtonColor: '#0b4423',
    backdrop: 'rgba(11,68,35,0.4)'
});
{% endfor %}
</script>
{% endif %}



<script>
function showLoginAlert(action) {
    Swal.fire({
        title: `Login Required`,
        html: `<p style="font-size:15px;">Please login to ${action}.</p>`,
        icon: 'warning',
        background: '#ffffff',
        color: '#0b4423',
        confirmButtonText: 'Login Now',
        showCancelButton: true,
        cancelButtonText: 'Maybe Later',
        confirmButtonColor: '#0b4423',
        cancelButtonColor: '#85c441',
        backdrop: 'rgba(11,68,35,0.4)',
        customClass: {
            popup: 'brand-swal-popup',
            title: 'brand-swal-title'
        }
    }).then((result) => {
        if (result.isConfirmed) {
            window.location.href = "{% url 'loginaccount' %}";
        }
    });
}
</script>


              
<style>

/* Hide bootstrap alerts */
.alert {
    display: none !important;
}

/* Hide toast notifications */
.toast,
.toast-container,
.notification,
.notifications,
#toast-container {
    display: none !important;
}

/* Hide any bottom-right popup */
div[style*="position: fixed"][style*="bottom"] {
    display: none !important;
}

</style>

{% if messages %}
<script>
document.addEventListener("DOMContentLoaded", function() {
    {% for message in messages|slice:":1" %}
    Swal.fire({
        icon: "{{ message.tags }}",
        title: "{{ message }}",
        confirmButtonColor: "#0b4423",
        background: "#f0fff4",
        color: "#0b4423"
    });
    {% endfor %}
});
</script>
{% endif %}


        

    </body>

</html>