{% extends 'base.html' %}
{% load static %}

{% block title %}Home - Little Forest{% endblock %}
{% block content %}
    <body>

        <main>
         
            <!-- breadcrumb start -->
            <section id="breadcrumb">
                <div class="container-fluid fluid____mobile">
                    <div class="breadcrumb-content bg-breadcrumb-01">
                        <div class="caption">
                            <div class="title">Change Password</div>
                            <ul>
                                <li>Home</li>
                                <li>Change Password</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <!-- breadcrumb end -->
            <!-- order history start -->
            <section class="password-area section-ptb">
              <div class="container">
                  <div class="row">
                      <div class="col">
                          <div class="password-block">
                              <!-- account profile start -->
                              <div class="profile-info">
                                <div class="account-profile">
                                    <div class="pro-img">
                                        <a href="javascript:void(0)">
                                            <i class="fas fa-user-circle fa-4x "></i>
                                        </a>
                                    </div>
                                    <div class="profile-text">
                                        <h6><h6>{{ user.username }}</h6></h6>
                                        <span>Joined: {{ user.date_joined|date:"F d, Y" }}</span><br>
                                    </div>
                                </div>
                                <div class="account-detail">
                                    <ul class="profile-ul">
                                        <li class="profile-li">
                                            <a href="{% url 'orderhistory' %}" class="{% if request.resolver_match.url_name == 'orderhistory' %}active{% endif %}">
                                                <span>Orders</span>
                                                <span class="pro-count">{{ cart_items|length }}</span>
                                            </a>
                                        </li>
                                    
                                        <li class="profile-li">
                                            <a href="{% url 'profile' %}" class="{% if request.resolver_match.url_name == 'profile' %}active{% endif %}">
                                                Profile
                                            </a>
                                        </li>
                                    
                                        <li class="profile-li">
                                            <a href="{% url 'proaddress' %}" class="{% if request.resolver_match.url_name == 'proaddress' %}active{% endif %}">
                                                Address
                                            </a>
                                        </li>
                                    
                                        <li class="profile-li">
                                            <a href="{% url 'changepassword' %}" class="{% if request.resolver_match.url_name == 'changepassword' %}active{% endif %}">
                                                Change password
                                            </a>
                                        </li>
                                    
                                        {% if user.is_authenticated %}
                                        <li class="profile-li">
                                            <a href="{% url 'logout' %}">
                                                Sign out
                                            </a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                    
                                    
                                </div>
                            </div>
                              <!-- account profile start -->
                              <!-- change password start -->
                              <div class="profile-form">
                                <form method="POST">
                                    {% csrf_token %}
                                    <ul class="pro-input-label">
                                        <li>
                                            <label>Old Password</label>
                                            <input type="password" name="old_password" placeholder="Enter Old Password" required>
                                        </li>
                                    </ul>
                                    <ul class="pro-input-label">
                                        <li>
                                            <label>New Password</label>
                                            <input type="password" name="new_password1" placeholder="Enter New Password" required>
                                        </li>
                                    </ul>
                                    <ul class="pro-input-label">
                                        <li>
                                            <label>Confirm New Password</label>
                                            <input type="password" name="new_password2" placeholder="Confirm New Password" required>
                                        </li>
                                    </ul>
                                    <ul class="pro-submit">
                                        <li>
                                            <button type="submit" class="btn btn-style2 checkout">Change Password</button>
                                        </li>
                                    </ul>
                                </form>
                                
                            </div>
                            
                              <!-- change password end -->
                          </div>
                      </div>
                  </div>
              </div>
          </section>
            <!-- order history end -->
        </main>
      
       
    </body>
    {% endblock %}


</html>