{% extends 'base.html' %}
{% load static %}

{% block title %}Home - Little Forest{% endblock %}
{% block content %}
    <body>
        <!-- header start -->
    
        <!-- header end -->
        <!-- main section start-->
        <main>
            <!-- breadcrumb start -->
            <section class="breadcrumb-area">
                <div class="container">
                    <div class="col">
                        <div class="row">
                            <div class="breadcrumb-index">
                                <!-- breadcrumb-list start -->
                                <ul class="breadcrumb-ul">
                                    <li class="breadcrumb-li">
                                        <a class="breadcrumb-link" href="index.html">Home</a>
                                    </li>
                                    <li class="breadcrumb-li">
                                        <span class="breadcrumb-text">pro-wishlist</span>
                                    </li>
                                </ul>
                                <!-- breadcrumb-list end -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- breadcrumb end -->
            <!-- order history start -->
            <section class="order-histry-area section-ptb">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="password-block">
                                <!-- order profile start -->
                                <div class="profile-info">
                                    <div class="account-profile">
                                        <div class="pro-img">
                                            <a href="javascript:void(0)">
                                                <img src="img/testi/test-1.jpg" class="img-fluid" alt="testi-1">
                                            </a>
                                        </div>
                                        <div class="profile-text">
                                            <h6>Miranda joy</h6>
                                            <span>Joined April 06, 2024</span>
                                        </div>
                                    </div>
                                    <div class="account-detail">
                                        <ul class="profile-ul">
                                            <li class="profile-li">
                                                <a href="order-history.html">
                                                    <span>Orders</span>
                                                    <span class="pro-count">5</span>
                                                </a>
                                            </li>
                                            <li class="profile-li">
                                                <a href="profile.html">Profile</a>
                                            </li>
                                            <li class="profile-li">
                                                <a href="pro-address.html">Address</a>
                                            </li>
                                            <li class="profile-li">
                                                <a href="pro-wishlist.html" class="active">
                                                    <span>Wishlist</span>
                                                    <span class="pro-count">3</span>
                                                </a>
                                            </li>
                                            <li class="profile-li">
                                                <a href="change-password.html">
                                                    <span>Change password</span>
                                                </a>
                                            </li>
                                            <li class="profile-li">
                                                <a href="pro-tickets.html">
                                                    <span>My tickets</span>
                                                    <span class="pro-count">4</span>
                                                </a>
                                            </li>
                                            <li class="profile-li">
                                                <a href="index.html">
                                                    <span>Sign out</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- order profile end -->
                                <!-- order info start -->
                                <div class="profile-form order-info">
                                    <div class="pro-add-title">
                                        <h6>Wishlist</h6>
                                    </div>
                                    <div class="wishlist-area">
                                        <div class="wishlist-details">
                                            <div class="wishlist-item">
                                                <span class="wishlist-head">My wishlist:</span>
                                                <span class="sp-link-title">3 item</span>
                                            </div>
                                            <div class="wishlist-all-pro">
                                                <div class="wishlist-pro">
                                                    <div class="wishlist-pro-image">
                                                        <a href="product.html">
                                                            <img src="img/menu/home1-pro-banner4.jpg" class="img-fluid" alt="p-1">
                                                        </a>
                                                    </div>
                                                    <div class="pro-details">
                                                        <h6>
                                                        <a href="product.html">Chinese evergreen</a>
                                                        </h6>
                                                    </div>
                                                </div>
                                                <div class="qty-item">
                                                    <a href="cart-page.html" class="add-wishlist">Add to cart</a>
                                                    <a href="checkout-1.html" class="add-wishlist">Buy now</a>
                                                </div>
                                                <div class="all-pro-price">
                                                    <span class="new-price">Rs. 25.00</span>
                                                    <span class="old-price">Rs. 21.00</span>
                                                    <span><i class="fa fa-heart text-danger"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wishlist-area">
                                        <div class="wishlist-details">
                                            <div class="wishlist-all-pro">
                                                <div class="wishlist-pro">
                                                    <div class="wishlist-pro-image">
                                                        <a href="product.html">
                                                            <img src="img/menu/home1-pro-banner3.jpg" class="img-fluid" alt="p-2">
                                                        </a>
                                                    </div>
                                                    <div class="pro-details">
                                                        <h6>
                                                        <a href="product.html">Strelitzia nicolai</a>
                                                        </h6>
                                                    </div>
                                                </div>
                                                <div class="qty-item">
                                                    <a href="cart-page.html" class="add-wishlist">Add to cart</a>
                                                    <a href="checkout-1.html" class="add-wishlist">Buy now</a>
                                                </div>
                                                <div class="all-pro-price">
                                                    <span class="new-price">Rs. 18.00</span>
                                                    <span class="old-price">Rs. 25.00</span>
                                                    <span><i class="fa fa-heart text-danger"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wishlist-area">
                                        <div class="wishlist-details">
                                            <div class="wishlist-all-pro">
                                                <div class="wishlist-pro">
                                                    <div class="wishlist-pro-image">
                                                        <a href="product.html">
                                                            <img src="img/menu/home1-pro-banner2.jpg" class="img-fluid" alt="p-3">
                                                        </a>
                                                    </div>
                                                    <div class="pro-details">
                                                        <h6>
                                                        <a href="product.html">Aloe vera plant</a>
                                                        </h6>
                                                    </div>
                                                </div>
                                                <div class="qty-item">
                                                    <a href="cart-page.html" class="add-wishlist">Add to cart</a>
                                                    <a href="checkout-1.html" class="add-wishlist">Buy now</a>
                                                </div>
                                                <div class="all-pro-price">
                                                    <span class="new-price">Rs. 20.00</span>
                                                    <span><i class="fa fa-heart text-danger"></i></span>
                                                </div>
                                            </div>
                                            <div class="other-link">
                                                <ul class="other-ul">
                                                    <li class="wishlist-other-link">
                                                        <a href="collection.html" class="btn btn-style2">Continue shopping</a>
                                                    </li>
                                                    <li class="wishlist-other-link">
                                                        <a href="wishlist-empty.html" class="btn btn-style2">Clear wishlist</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- order info end -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- order history end -->
        </main>
    
       
        <!-- jquery js -->
      
    </body>
    {% endblock %}
</html>